{
    "API_KEY": "xxxxxxxxxxxxxxxxx",
    "API_SECRET_KEY": "xxxxxxxxxxxxxxxxxxx",
    "users": {
        "Language_Bot": {
            "access_token": "00000000000-xxxxxxxxxxxxxx",
            "access_token_secret": "xxxxxxxxxxxxxxxxxxxxxx"
        }
    },
    "translations": {
        "1301897541600989184": {
            "username": "Coding_Planet",
            "languages": {
                "en": ["Language_Bot"]
            }
        },
        "1385591173172060166": {
            "username": "007qaqa",
            "languages": {
                "en": ["Language_Bot"]
            }
        }
    }
}
